<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <img src='/catImage'></img>
    <h3>Try accesing</h3>
    <ul>
        <li><a href='/download'>/download</a></li>
        <li><a href='/catImage'>/catImage</a></li>
        <li><a href='/json'>/json</a></li>
        <li><a href='/redirect'>/redirect</a></li>
    </ul>
    <p></p>
  </body>
</html>
