<!doctype html>
<html>
  <head>
    <title><%- usuario %></title>
  </head>
  <body>
    <div>
      <div>
        <h1> Hola <%- usuario  %> desde especial</h1>
      </div>
    </div>
  </body>
</html>
